html {
   font-family: Georgia, serif;
   font-size: 16px;
   background-color: #f6f8f9;
}
header {
   background-color: #d4e4ef;
   color: steelblue;
   text-align: center;
   margin: none;

}
footer{
   background-color: #d4e4ef;
   text-align: center;
   line-height: 0.5em;
   padding: 20px 0 20px 0;
   margin: 15em 0 10px 0;
}

