html {
   font-family: Avenir, Calibre, sans-serif;
   font-size: 16px;
   background-color: #d9d9d9;
   line-height: 1.182em; 
   padding: 1.182em;
   text-rendering: optimizeLegibility;
}
header {
   background-color: rgb(245,249,245);
   text-align: center;
   padding-bottom: 0.25em;
   padding-top: 0.25em;
}

h1 {
   font-size: 2.369em;
   color: #3A6629;
}

h2 {
   text-align: center;
   color: #5a5a5a;
   font-size: 1.333em;
}

h3{
   font-size: 1.777em;
   color: rgb(106,106,106);
}

p {
   text-align: center;
   font-size: 1.333em;
   line-height: 1.25em;
}

label {
  display: block;
}

.label-input{
   margin-top: 1em;
}

form{
   background-color: white;
   margin-top: 2em;
   padding: 0.25em 1em 0.5em 1em;
   border: solid;
   border-width: 0.05em;
   border-color: #5a5a5a;
}

input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin: 10px 0 10px 0;
  }

#input-submit {
  margin-top: 0.75em;
  text-align: center;
}

#submit {
  background-color: #3F9E4D;
  color: white;
  border-radius: 6px;
  border: none;
  width: 60%;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-size: 1.20em;
}

footer{
   background-color: rgb(245,249,245);
   text-align: center;
   height: 60px;
   padding: 20px 0 30px 20px;
   margin: 4em 0 10px 0;
}

footer p {
   font-size: 1em;
   line-height: 1.5em;
   text-align: center;
}

